.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 234px;
}

.u-section-1 .u-group-elements-1 {
  min-height: 39px;
  margin-top: 140px;
  margin-bottom: 55px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: -30px 0 9px auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 58px;
    width: 168px;
    margin: 149px auto 45px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: 168px;
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 0;
  }
}
.u-section-2 .u-sheet-1 {
  min-height: 1194px;
}

.u-section-2 .u-rotation-parent-1 {
  width: 972px;
  height: 1068px;
  margin: 71px 0 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 1068px;
  height: 972px;
}

.u-section-2 .u-image-1 {
  width: 745px;
  height: 747px;
  object-position: 0% 50%;
  background-position: 50% 50%;
  background-image: url("images/shoes\ cleaning\ \(2\).png");
  margin: -981px 43px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 241px;
  height: 242px;
  background-image: none;
  margin: 15px 43px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 662px;
  min-height: 688px;
  margin: -656px auto 0 -35px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-form-1 {
  height: 583px;
  background-image: none;
  margin: 188px auto 0 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  margin-left: 0;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-label-2 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 878px;
    height: 922px;
  }

  .u-section-2 .u-shape-1 {
    width: 922px;
    height: 878px;
  }

  .u-section-2 .u-image-1 {
    width: 636px;
    height: 636px;
    margin-top: -831px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 720px;
    height: 781px;
  }

  .u-section-2 .u-shape-1 {
    width: 791px;
    height: 720px;
  }

  .u-section-2 .u-image-1 {
    width: 568px;
    height: 568px;
    margin-top: -646px;
    margin-right: 20px;
  }

  .u-section-2 .u-shape-2 {
    width: 194px;
    height: 195px;
    margin-top: 0;
    margin-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 556px;
    margin-top: -539px;
    margin-bottom: 1px;
    margin-left: -50px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-form-1 {
    height: 395px;
    margin-top: 183px;
    margin-right: 50px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 540px;
    height: 601px;
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 593px;
    height: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 438px;
    height: 438px;
    margin-top: -542px;
    margin-right: 33px;
  }

  .u-section-2 .u-shape-2 {
    width: 162px;
    height: 163px;
    margin-top: -8px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 395px;
    min-height: 432px;
    margin-top: -261px;
    margin-bottom: 50px;
    margin-left: -17px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-2 .u-form-1 {
    width: 375px;
    margin-top: 1px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 340px;
    height: 401px;
    margin-top: 27px;
  }

  .u-section-2 .u-shape-1 {
    width: 373px;
    height: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 276px;
    height: 276px;
    margin-top: -350px;
    margin-right: 10px;
  }

  .u-section-2 .u-shape-2 {
    width: 105px;
    height: 106px;
    margin-top: 10px;
    margin-right: 27px;
  }

  .u-section-2 .u-group-1 {
    min-height: 421px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}
