.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 234px;
}

.u-section-1 .u-group-elements-1 {
  min-height: 39px;
  margin-top: 140px;
  margin-bottom: 55px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: -30px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 59px;
    width: 208px;
    margin: 126px auto 60px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: auto;
  }
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1015px;
}

.u-section-2 .u-shape-1 {
  width: 1022px;
  height: 914px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -26px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 951px;
  height: 727px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -894px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 756px;
  height: 756px;
  background-image: url("images/shoes\ cleaning\ \(2\).png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -647px 67px 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 159px;
  width: 642px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -91px auto 60px 190px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 40px;
  padding-right: 40px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-2 .u-shape-1 {
    width: 860px;
    height: 836px;
    margin-top: -32px;
  }

  .u-section-2 .u-shape-2 {
    width: 860px;
    height: 665px;
    margin-top: -804px;
    margin-right: -43px;
  }

  .u-section-2 .u-image-1 {
    width: 676px;
    height: 676px;
    margin-top: -571px;
    margin-right: 49px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -65px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 9px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-2 .u-shape-1 {
    width: 607px;
    height: 607px;
    margin-top: -25px;
  }

  .u-section-2 .u-shape-2 {
    width: 572px;
    height: 494px;
    margin-top: -571px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 484px;
    height: 484px;
    margin-top: -444px;
    margin-right: 29px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -88px;
    margin-bottom: 50px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-2 .u-shape-1 {
    height: 462px;
    width: 540px;
    margin-top: -30px;
    margin-left: -16px;
  }

  .u-section-2 .u-shape-2 {
    width: 462px;
    margin-top: -443px;
    margin-right: -50px;
  }

  .u-section-2 .u-image-1 {
    width: 385px;
    height: 385px;
    margin-top: -436px;
    margin-right: -18px;
  }

  .u-section-2 .u-group-1 {
    width: 490px;
    margin-top: -93px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-2 .u-shape-1 {
    height: 308px;
    margin-top: -17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-2 {
    height: 323px;
    width: 340px;
    margin-top: -308px;
  }

  .u-section-2 .u-image-1 {
    width: 273px;
    height: 273px;
    margin-top: -273px;
    margin-right: -16px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -53px;
    margin-bottom: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 7px 8px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 6px;
    margin-left: 12px;
    margin-right: 12px;
  }
}
